.container  
                .row    
                    .experience.col-xs-12.col-xs-landscape-6.col-sm-5.col-md-5.col-lg-4
                        h1.experience__title  
                            | <span class="line"></span>Efficiency
                        p.experience__description 
                            | Our extensive resources allow us to dedicate more time to your file. Efficiency matters.
                    .experience.col-xs-12.col-xs-landscape-6.col-sm-5.col-sm-offset-2.col-md-5.col-md-offset-2.col-lg-4.col-lg-offset-3   
                        h1.experience__title  
                            | <span class="line"></span>Human Experience
                        p.experience__description 
                            | To us, you are not just a file number. We offer the personal service that many can’t.    
                    .experience.col-xs-12.col-xs-landscape-6.col-sm-5.col-md-5.col-lg-4
                        h1.experience__title  
                            | <span class="line"></span>Results
                        p.experience__description 
                            | We have been awarded Millions of dollars in compensation for our clients.
                                     

                

                
                    
