section.section--firm-overview.section
    .container  
        .row.row--tablet-center
            .col-xs-12.col-sm-10.col-md-12.col-lg-10
                .block-holder
                    div.section__top-line
                    p.section__tagline
                        | firm overview
                h1.section__title
                    | What our <span class="type--color-green">principles</span> are
                .row    
                    .firm-overview.col-xs-12.col-xs-landscape-8.col-sm-10.col-md-8.col-lg-8
                        h1.firm-overview__number  
                            | I.
                        p.firm-overview__title 
                            | compassion
                        p.firm-overview__description
                            | At Cervini Bhatia Professional Corporation we pride ourselves on 
                            | delivering compassionate and empathetic customer service. We build 
                            | a unique relationship with each and every client by understanding 
                            | and recognizing that our clients come to us after suffering 
                            | life-altering traumatic injuries. We are more than a reputable 
                            | firm; we are a place of solace in a time of tragedy. Our 
                            | compassionate employees strive to alleviate our clients’ legal and 
                            | financial stresses so that our clients can focus on getting their 
                            | health and lives back on track. We are pleased to offer free 
                            | initial consultations and our clients pay no legal fees until we 
                            | win their case.
                    .firm-overview.col-xs-12.col-xs-landscape-8.col-sm-10.col-md-8.col-lg-8.col-md-offset-5
                        h1.firm-overview__number  
                            | II.
                        p.firm-overview__title 
                            | integrity
                        p.firm-overview__description
                            | At Cervini Bhatia Professional Corporation we secure our clients’ confidence by 
                            | providing professional and reliable legal advice. We take great pride in our work 
                            | and strive to maintain legal integrity by showing our clients the respect and 
                            | concern they deserve. Cervini Bhatia Professional Corporation is dedicated to
                            | keeping our clients informed every step of the way and to seeking our client’s 
                            | input and instructions before making any decisions. We utilize innovative and
                            | thoughtful strategies in order to deliver maximum results for our clients.
                    .firm-overview.col-xs-12.col-xs-landscape-8.col-sm-10.col-md-8.col-lg-8
                        h1.firm-overview__number  
                            | III.
                        p.firm-overview__title 
                            | results
                        p.firm-overview__description
                            | Daniela Cervini and Shiwali Bhatia, our firm’s founders, have more than 20 years 
                            | of combined experience exclusively in the area of personal injury law. Both 
                            | Daniela and Shiwali are passionate about providing their clients with compassion, 
                            | integrity and results. <br><br>

                            | To further enhance our legal team we work with our trial counsel, David J. Levy, a | partner at Howie, Sacks &amp; Henry LLP, recognized as one of the top personal injury 
                            | law firms in Canada. David has been working on behalf of accident victims since 
                            | 1999 and has tried many cases both in our Courts and the Financial Services 
                            | Commission of Ontario. At Cervini Bhatia Professional Corporation our legal team 
                            | actively and relentlessly pursues all cases to achieve maximum results. Put our 
                            | expertise to work for you!       