section.section.section--team
    .container  
        .row
            .col-xs-12.col-xs-landscape-8.col-sm-8.col-md-8.col-lg-6.u-margin-center
                h1.section__title.section__title--block
                    | <span class="type---color-light-grey">Experienced.</span><span class="type--color-green">Reliable.</span>
                    <span class="type---color-light-grey">Commited.</span>
                p.section__description
                    |Our Team has a combined experience of over 20 years in Personal Injury Claims. 
                    |Our knowledge and expertise in this field are diverse and our members have 
                    |working experience in both Insurance Defence and Plaintiff Actions. More 
                    |importantly, our trial team is prepared to aggressively pursue your claim in 
                    |front of a Jury. Our main trial lawyer, Mr. David Levy of Howie, Sacks &amp; Henry 
                    |has extensive trial litigation experience and has recovered millions of 
                    |dollars for clients. We will work hard on your behalf to ensure that you 
                    |receive appropriate compensation.
                span.cta view team  
                    div

                
                    
