section.section.section--team
    .team
        .mobile-version
            .wrapper
                .cell
                    article.team__member
                        .member-img 
                            img(src="/images/daniela.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | founder, lawyer
                            h1.content-staff-member
                                | daniela cervini
                            .content-cta    
                                span.cta learn more
                                    div     
                    article.team__member
                        .member-img 
                            img(src="/images/navjot.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | founder, lawyer
                            h1.content-staff-member
                                | Navjot Bhatia
                            .content-cta    
                                span.cta learn more
                                    div  
                    article.team__member
                        .member-img 
                            img(src="/images/poonam.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | Public Relations
                            h1.content-staff-member
                                | Poonam Kumar                                  
        .desktoptablet-version
            .wrapper
                .cell
                    article.team__member
                        .member-img 
                            img(src="/images/daniela.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | founder, lawyer
                            h1.content-staff-member
                                | daniela cervini
                            .content-cta    
                                span.cta learn more
                                    div     
                    article.team__member
                        .member-img 
                            img(src="/images/poonam.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | public relations
                            h1.content-staff-member
                                | poonam kumar                                      
                .cell
                    article.team__member
                        .member-img 
                            img(src="/images/navjot.jpg" class="img-team-member")
                        .member-content
                            p.content-staff-role
                                | founder, lawyer
                            h1.content-staff-member
                                | navjot bhatia
                            .content-cta    
                                span.cta learn more
                                    div     
