#js-menu.menu
    .menu__inner
       .menu__navigation 
            ul.menu__list--navigation
              li.menu__item
                a(href="index.html" data-item="about" class="item-link active") About
                div.item-line
              li.menu__item
                a(href="index.html" data-item="team" class="item-link") Team
                div.item-line
              li.menu__item
                a(href="index.html" data-item="services" class="item-link") Services
                div.item-line
              li.menu__item
                a(href="index.html" data-item="news" class="item-link") News
                div.item-line

            ul.menu__list--contact    
              li.menu__item
                a.item-link <span>Telephone:</span>
                    | 1 905 890 7200 
              li.menu__item
                a.item-link <span>Email:</span> poonam@cervinibhatia.com 
              li.menu__item
                a.item-link <span>Address:</span> 450 Britannia Road East,<br> Suite A <br> Mississauga, ON <br> L4Z 1X9 
            .menu__footer
              p.company-copyright &copy; cervini bhatia
              a(href="" class="developer-name") harp designs
            
        

   	     
       
      
       
       

          
            


    
       