doctype html
include ./includes/global/_landing.pug
html
  head.
    <meta charset="UTF-8">
    <title>Welcome - Cervini Bhatia PC</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <!-- <link rel="stylesheet" href="/main-45b6b7cf6ab0243c647f.css"> -->
  body   
    include ./includes/layout/_navigation.pug
    include ./includes/global/_menu.pug
    include ./includes/news/_news.pug
    include ./includes/layout/_footer.pug                                