doctype html
include ./includes/global/_landing.pug
include ./includes/mixins/_section-headline.pug
html
  head
    <meta charset="UTF-8">
    <title>Team - Cervini Bhatia PC</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  body

    //- - var content = "<span class="type--color-green">language</span>";


    include ./includes/layout/_navigation.pug
    +hero('team', 'Our Team has a combined experience of over 20 years in Personal Injury Claims and working experience in both Insurance Defence and Plaintiff Actions.', 'diverse knowledge and expertise')   
    include ./includes/global/_menu.pug
    include ./includes/team/_team.pug
    //- +section-headline('guided by diveristy', 'We speak your <span class="type--color-green">language</span>', 'We offer personal injury legal services in Hindi, Punjabi, and Urdu. We are happy to accommodate clients speaking other languages through the use of interpreters.', 'contact-us')
    include ./includes/layout/_footer.pug   
                                                       

    
                                     

                

                
                    
