mixin header(pageName)
        header.header
            .header__inner
                    .container--no-width-xs
                        .header__title-block
                            h1.header__title= pageName
                            span.title-line