footer.footer
    .container
        .top-footer
                ul.top-footer__list
                    li.top-footer__item
                        p.item-title email
                        a(href="" class="item-anchor") daniela@cervinibhatia.com
                        a(href="" class="item-anchor") shiwali@cervinibhatia.com
                        a(href="" class="item-anchor") poonam@cervinibhatia.com 
                ul.top-footer__list
                    li.top-footer__item
                        p.item-title telephone
                        a(href="" class="item-anchor") 1 905 890 7200
                ul.top-footer__list
                    li.top-footer__item
                        p.item-title address
                        a(href="" class="item-anchor") 
                            span 450 Britannia Road East, 
                            span Suite A 
                            span Mississauga, ON  
                            span L4Z 1X9
    .bottom-footer
        .container
            ul.bottom-footer__list
                li.bottom-footer__item
                    p.item-anchor &copy; cervini bhatti pc
                li.bottom-footer__item
                    a(href="" class="item-anchor") harp designs