nav(class="nav")
        div(class="nav__logo")
            a(href="index.html")
                img(src="/images/logo-symbol.svg" alt="" width="60" height="40")
            button(id="js-hamburger" class="nav__hamburger")
                span(class="burger burger1")
                span(class="burger burger2")
                span(class="burger burger3")
                span(class="burger burger4")
                span(class="burger burger5")
                p.nav__title menu